body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-container{
  position: relative;
  width: 100%;
  height: auto;
}
// .gravitas-one-regular {
//   font-family: "Gravitas One", serif;
//   font-weight: 400;
//   font-style: normal;
// }
