@import './../variables.scss';

.event-main{
    background-color: $background;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .event-banner{
        position: relative;
        width: 100%;
        height: clamp(500px, 75vh, 800px) ;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .banner-overlay{
            position: absolute;
            background-color: rgba(0, 0, 0, 0.6);
            backdrop-filter: blur(7.8px);
            -webkit-backdrop-filter: blur(7.8px);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 8vw;
            width: 100%;
            height: 100%;
            box-sizing: border-box ;
            top: 0;
            left: 0;

            h1{
                color: white;
                text-align: center;
                margin-top: 0;
                margin-inline: 20px;
                margin-bottom: 0px;
                font-size: clamp(45px, 5vw, 80px);
            }

            h2{
                text-align: center;
                width: clamp(300px, 40%, 700px);
                font-size: clamp(15px, 2vw, 40px);
                margin-inline: auto;
                margin-top: 5px;
                margin-bottom: 0px;
                color: $text-accent;
            }
        }
    }

    .event-section{
        width: 100%;
        height: auto;
        min-height: 400px;
        margin-top: 30px;
        margin-bottom: 30px;
        align-items: center;
        display: flex;
        flex-direction: column;

        .header{
            width: 70%;
            max-width: 1400px;
            height: auto;
            color: $text-accent;
            margin-bottom: 30px;
        }

        .section-container{
            width: 70%;
            max-width: 1000px;
            height: 100%;        
            display: flex;
            flex-direction: row;
            gap: 20px;

            .event-contact{
            
            height: auto;
            flex: 1;
            display: flex;
            flex-direction: column;  

                .section-header{
                width: 100%;
                max-width: 1400px;
                margin-inline: auto;
                height: auto;
                color: $text-accent;
                }

                .about-txt{
                    text-align: justify;
                    width: 85%;
                  max-width: 1400px;    
                    color: $text-accent;
                    font-size: 24px;
                    margin-inline: auto;
                }

                .socials{
                    margin-top: 20px;
                    width: 60%;
                    max-width: 400px;
                    height: auto;
                    border-radius: 60px;
                    border: 3px solid $text-accent;
                    align-self: center;
                    padding: 20px 10px 20px 10px;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    transition: all 0.4s ease-in-out;
                    cursor: pointer;


                    .socials-icon{
                        height: 50px;
                        color: $text-accent;
                        margin-inline: 10px;
                    }

                    p{
                        font-size: 30px;
                        color: $text-accent;
                        margin: auto 10px auto 10px;
                    }

                    &:hover{
                        background-color: $text-accent;

                       .socials-icon, p{
                        color: $background;
                        font-weight: bold;
                       }
                    }
                }
            

        }

         @media only screen and (max-width: 1100px) {
            width: 90%;
        }
    }

        .div{
            height: 100%;
            min-height: 400px;
            margin-top: 90px;
            border: 2px solid $text-accent;
        }


        .event-list{
        margin: auto;
        display: grid;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1000px;
        height: 460px;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;

        @media only screen and (max-width: 1100px) {
            width: 90%;
        }

        @media only screen and (max-width: 850px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
        }

        @media only screen and (max-width: 450px) {
         
        }

        }

        

        
    }
}