@import "../variables.scss";


.home-container{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: $background;

   .home-text{
    align-items: center;
    max-width: 1000px;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    color: $text-accent;
    h1{
        margin: 0 30px 0 0;
        font-size: 32px;   
    }
    a{
        font-size: 18px;
        text-decoration: underline;
        color: $text-accent;
    }

    #home-more-btn{
        text-decoration: none;
        color: $text-accent;
        background-color: $background;
        padding: 4px 7px 4px 7px;
        border-radius: 10px;
        font-weight: bold;
        border: 3px solid $text-accent;
        transition: 0.3s;

        &:hover{
            color: $background;
            background-color: $text-accent;
        }
    }

    @media only screen and (max-width: 850px) {
            h1{
                font-size: 24px; 
            }   
        }
   }
}

.home-divider{
 height: 5px;
 width: 100%;
 border: none;
 background-color: $background;
}

.home-section{
    padding-inline: 20px;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    justify-content: space-between;
    background-color: $background;
    display: flex;
    flex-direction: column;
   
   .sound-card-container{
    margin-inline: auto;    
    width: 100%;
    max-width: 1000px;
    height: 300px;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(4, 1fr);
    scrollbar-width: none;
    -ms-overflow-style: none;
    grid-gap: 20px;
    
    @media only screen and (max-width: 1100px) {
        height: 250px;
        width: 90%;
    }

     @media only screen and (max-width: 850px) {
        height: 560px;
        grid-template-columns: minmax(100px, 400px)  minmax(100px, 400px);
        grid-template-rows: repeat(2, 1fr);
    }

    @media only screen and (max-width: 550px) {
        height: 460px;
    }
   }
   
}

.home-event-section{
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 0px;
    padding-bottom: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $text-accent;

   .home-text{
        margin-bottom: 40px;

        

    }

    .event-card-container{
        margin: auto;
        display: grid;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1000px;
        height: 400px;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;

         @media only screen and (max-width: 1100px) {
            height: 350px;
            width: 90%;
        }

        @media only screen and (max-width: 850px) {
            height: 680px;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
        }

        @media only screen and (max-width: 450px) {
            height: 780px;
            
        }
   
    }
}

.home-about-container{
    border: 3px solid $text-accent;
    border-radius: 40px;
    width: 90%;
    max-width: 1000px;
    margin: 10px 30px 40px 30px;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-inline: 30px;
    box-sizing: border-box;
    height: auto;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}