@import "../../variables.scss";

.about-home-card{
    width: 70%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    color: $text-accent;

    img{
        height: 500px;
        width: auto;
        margin: auto;
        border-radius: 20px;
        object-fit: cover;
    }

    .about-home-text{
        flex: 1;
        P{
            font-size: 20px;
        }

        h1, p{
           margin: 30px 40px 30px 40px; 
        }
    }
}