

.hero-banner{
    position: relative;
    width: 100%;
    height: 850px;
    margin-inline: auto;
    background-color: orangered;
    overflow: hidden;

    .hero-img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

   

    .hero-overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.266);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;

    .hero-overlay-container{
        position: relative;
        display: flex;
        width: 100%;
        max-width: 1900px;
        height: 100%;
        margin-inline: auto;

        img{
            position: absolute;
            height: 840px;
            object-fit: cover;
            right:  50px;
            bottom: 0;
        }

        
    }
    
    .dj-info{
            position: absolute;
            display: flex;
            flex-direction: column;
            bottom: 20%;
            left: 10%;
            margin-right: 14%;
            max-width: 600px;

            .dj-name{
            font-size: 120px;
            color: white;
            margin: 0 0 10px 0;
            width: fit-content;
            // text-shadow:
            // 0 0 7px #fff,
            // 0 0 12px rgb(230, 251, 4),
            // 0 0 22px rgb(251, 148, 4),
            // 0 0 32px rgb(230, 251, 4),
            }


            h3{
                color: white;
                font-size: 36px;
                margin: 0px 0px 20px 0px;
                text-shadow: 0 0 10px #000000;
            }

            p{
                color: white;
                font-size: 20px;
                margin: 0px;
                text-shadow: 0 0 10px #000000;
            }

            button{
                width: 170px;
                height: 40px;
                border-radius: 20px;
                border: none;
                margin-top: 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 16px;
                padding-left: 30px;
                transition: 0.2s;
                cursor: pointer;

                div{
                    height: 30px;
                    width: 30px;
                    background-color: rgb(57, 6, 6);
                    border-radius: 50%;
                }

                &:hover{
                    background-color: rgb(255, 252, 206);
                    color: rgb(21, 16, 16);
                    font-weight: bold;
                }
            }
        }
    
    }
}


   @media only screen and (max-width: 767px) {
        .hero-banner{

             .hero-overlay{

                .hero-overlay-container{

                    img{
                        right: -40px;
                        }

                         .dj-info{
                            left: 20px;
                            width: 80%;

                            .dj-name{
                            font-size: 70px;
                            color: white;
                            }
                            h3{
                                font-size: 24px;
                            }

                            p{
                                font-size: 16px;
                            }

                            }
                        }
            }
        }
    }