@import '../../variables.scss';

.sound-card-main{
    
    position: relative;
    background-color: rgb(218, 120, 35);
    width: 100%;
    min-width: 120px;
    height: 100%;
    transition: 0.5s;
    border-radius: 10px;
    overflow: hidden;
    align-self: center;
    justify-self: center;
    

    .img-overlay{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.582);
        top: 0;
        left: 0%;
        height: 70%;
        width: 100%;
        z-index: 2;
    }
    img{
            position: absolute;
            top: 0;
        left: 0%;
            object-fit: cover;
            height: 70%;
            width: 100%;
            z-index: 1;
        }

    .sound-overlay{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        display: flex;
        flex-direction: column;
       

        p{
            width: 80%;
            color: $accent;
            margin-inline: auto;
            margin-top: 20px;
            margin-bottom: 0;
        }   

        #mix-details{
            margin-top: 5px;
            text-align: center;
            color: $accent;
        }
        h3{
            width: 80%;
            color: $accent;
            margin-inline: auto;
            margin-top: 5px;
            margin-bottom: 0;
            font-size: 25px;
            text-align: center;
        }

         .sound-controls-container{
            position: absolute;
            display: flex; 
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            height: auto;
            z-index: 3;
            left: 0;
            right: 0;
            margin-inline: auto;
            bottom: 20px;

            p{
                margin: 0;
                width: auto;
                color: $accent-light;
            }


            .sound-btn{
                max-width: 55px;
                max-height: 55px;
                color: $accent-light;
            }

             .rewind{
                max-height: 20px;
                color: $accent-light;
                &.hide{
                    opacity: 0;
                }
             }

        }

    }

    // &:hover{
    //     min-height: 300px;
    //     min-width: 245px;
    // }

    @media only screen and (max-width: 1250px) {
        .sound-overlay{
            .sound-controls-container{
                width: 90%;
            p{
                font-size: 12px;
            }
             .sound-btn{
                max-width: 40px;
                max-height: 40px;
            }
             .rewind{
                max-height: 20px;
             }
            }
        }
        
    }

    @media only screen and (max-width: 580px) {
        .sound-overlay{
            .sound-controls-container{
                width: 80%;
                bottom: 10px;

                p{
                    display: none;
                }
                .sound-btn{
                    max-width: 50px;   
                    max-height: 50px;
                }
                .rewind{
                    
                }
                }
        }
    }
}

#mix-card{
    border: 3px solid $text-accent ;
       width: 70%;
       min-width: 300px;
       height: 100%;
       min-height: 350px;
       justify-self: center;
       border-radius: 30px;

        .img-overlay{
            height: 100%;
        }
        img{
            width: 100%;
            height: 100%;
        }

        .sound-overlay{
            width: 100%;
            background-color: rgba(0, 0, 0, 0.632);
            padding: 10px;
            display: flex;
            box-sizing: border-box;

            .header{
                font-size: 40px;
                color: $text-accent;
                font-weight: bold;
                margin-inline: 20px;
            }   

            #mix-details{
                display: none;
            }

            h3{
                color: white;
                margin-bottom: 0;
                font-size: 50px;
                text-align: center;
            }
        }

        .sound-controls-container{
            justify-content: space-evenly;

            .play-btn{
            
            width: 160px;
            height: 50px;
            background-color: $text-accent;
            border-radius: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            p{
                font-size: 25px;
                margin-top: 0;
                margin-bottom: 0;
                color: $background;
                font-weight: bold;
                
            }

            .sound-btn{
                width: 30px;
                height: 30px;
                margin: 0px;
                color: $background;
            }
        }
        }
        
    }