.sound-card-main{
    position: relative;
    background-color: rgb(254, 250, 222);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(163, 163, 163);
    min-height: 320px;
    max-height: 320px;
    min-width: 250px;
    margin: 10px 20px 10px 20px;
    transition: 0.5s;
    overflow: hidden;

    img{
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            height: 100%;
            border-radius: 20px;
            z-index: 1;
        }

    .sound-overlay{
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.407);
        height: 100%;
        width: 100%;
        z-index: 2;
        display: flex;
        flex-direction: column;

        p{
            width: 80%;
            color: white;
            margin-inline: auto;
            margin-top: 20px;
            margin-bottom: 0;
        }   

        #mix-details{
            margin-top: 5px;
            text-align: center;
        }
        h3{
            width: 80%;
            color: white;
            margin-inline: auto;
            margin-top: 5px;
            margin-bottom: 0;
            font-size: 30px;
            text-align: center;
        }

         .sound-controls-container{
            position: absolute;
            display: flex; 
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            height: auto;
            z-index: 3;
            left: 0;
            right: 0;
            margin-inline: auto;
            bottom: 20px;

            p{
                margin: 0;
                width: auto;
            }


            .sound-btn{
                width: 50px;
                height: 50px;
                color: white;
            }

             .sound-btn.rewind{
                height: 20px;

                &.hide{
                    opacity: 0;
                }
             }

        }

    }

   
   

    &:hover{
        min-height: 330px;
        min-width: 260px;
        box-shadow: 0 0 20px rgb(163, 163, 163);
    }
}

