@import '../../variables.scss';

.style-card{
    width: 100%;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-inline: 20px;
    background-color: $text-accent;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    border-radius: 10px;

    h2{
        color: $background;
        font-size: 24px;
        margin: 0;
    }

    @media only screen and (max-width: 850px){
       
        h2{
            font-size: 26px;
        }
    }

    @media only screen and (max-width:768px){
        h2{
            
            font-size: 20px;
        }
    }
}